.thesis
    display none
    .container
        align(both)
        height 80vh
        width 75vw
        background rgba(255, 255, 255, .5)
        .centered-container
            align(both)
            height 60vh
            width 70vw
            text-align center
            .top
                fixed top
                h2
                    margin-bottom 3vh
            .bottom
                fixed bottom
                width 100%
                input
                    width 75%
                    height 8vh
                    margin-bottom 1vh
                    border 3px solid $dark
                button
                    width 75%
                    height 8vh
                    background $dark
                    color $light
