.start
    .centered-container
        height 52vh
        align(both)
        h1
            text-align justify
        button
            center()
            height 8vh
            width 35vw
            margin-top 7vh
            background $dark
            color $light
