.thesis
    .container
        align(both)
        height 95vh
        width 94vw
        background rgba(255, 255, 255, .5)
        .centered-container
            align(both)
            height 65vh
            width 75vw
            text-align center
            .top
                fixed top
                h2
                    margin-bottom 3vh
            .bottom
                fixed bottom
                width 100%
                input
                    width 75%
                    height 7vh
                    margin-bottom 1vh
                    border 3px solid $dark
                button
                    width 75%
                    height 7vh
                    background $dark
                    color $light
