.view.start.view-inactive
    .centered-container
        h1
            | Jämställd
            br
            | het-i-
            br
            | praktiken
            br
            | -
            br
            | manicken
        button.start-button#start-button
            | Börja praktisera
