.view.thesis
    .container
        .centered-container
            .top
                h2 Hej!
                p Jämställdhet är inget som bara händer det är något en faktiskt måste göra.
            .bottom
                input(type="text" placeholder="Skriv ditt namn...")
                button.thesis-button#thesis-button
                    | Gå vidare
            
