.view.promise
    .container
        .header
            h3.name#header-name Daniel,
            h3 Vad ska du göra för att främja jämställdhet i världen?
        textarea#promisetext
        textarea#promisetext
        .feed
            .feed-promise
                p Jag ska anställa fler kvinnor.
            .feed-promise
                p Jag ska uppmuntra kvinnor att prata i möten.
            .feed-promise
                p Jag ska uppmuntra kvinnor att prata i möten.
            .feed-promise
                p Jag ska anställa fler kvinnor.
            .feed-promise
                p Jag ska anställa fler kvinnor.
            .feed-promise
                p Jag ska uppmuntra kvinnor att prata i möten.
            .feed-promise
                p Jag ska uppmuntra kvinnor att prata i möten.
            .feed-promise
                p Jag ska anställa fler kvinnor.
            .feed-promise
                p Jag ska anställa fler kvinnor.
            .feed-promise
                p Jag ska uppmuntra kvinnor att prata i möten.
            .feed-promise
                p Jag ska uppmuntra kvinnor att prata i möten.
            .feed-promise
                p Jag ska anställa fler kvinnor.
            .feed-promise
                p Jag ska anställa fler kvinnor.
            .feed-promise
                p Jag ska uppmuntra kvinnor att prata i möten.
            .feed-promise
                p Jag ska uppmuntra kvinnor att prata i möten.
            .feed-promise
                p Jag ska anställa fler kvinnor.
    .footer-print
        h3 Du har nu valt två löften! Skriv ut nuuuuu!
