- require('../styles/master.styl')

//- include ./header.jade

main
    img.background#background
    include ./views/view-01.jade
    include ./views/view-02.jade
    include ./views/view-03.jade
    include ./views/view-04.jade
    include ./views/view-05.jade
    canvas#myCanvas(width="1500" height="1000" style="display: none;")

//- include ./footer.jade
