- require('../styles/master.styl')

//- include ./header.jade

main
    //- include ./views/view-01.jade
    //- include ./views/view-02.jade
    //- include ./views/view-03.jade
    include ./views/view-04.jade
    //- include ./views/view-05.jade

//- include ./footer.jade
